<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Employee</title>
</head>

<body>
    <u>
        <h1>Employee Details</h1>
    </u>
    <hr>

    <form action="saveemployee" method="POST">
        FirstName: <input type="text" name="firstName" /><br> <br>
        LastName: <input type="text" name="lastName"> <br><br>
        Address: <input type="text" name="address"> <br><br>
        Salary : <input type="number" name="salary" /><br><br>
        Contact : <input type="number" name="contact"> <br><br>
        Email: <input type="email" name="email"> <br><br>

        <input type="submit" value="Save" />
        <BR>
        <a href="getEmployees">List Employee</a>
    </form>
</body>

</html>